<div class="footer-dark">
    <div class="container">
        <hr />
        <div class="row"> 
            <div class="col-sm-6 col-md-3 item">
                Email:  <h3>baigece2007@gmail.com</h3></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Online Shopping with IRComputers!!</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>pDukaan pvt ltd!</h3>
                <p>All rights reserved with pDukaan pvt ltd. Any copyright will attract legal course.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">pDukaan © 2022</p>
    </div>
</div>