
<div class="dashboardfooter">
  <button type="button" class="btn btn-primary btn-ripple" routerLink="/home">
    <a>
      <i class="fas fa-home"></i>
      <!-- <span class="icon">
        <i class="fas fa-home"></i>
      </span> -->
    </a>  Home</button>
  <button type="button" class="btn btn-primary btn-ripple" routerLink="/checkin"><a>
    <i class="fas fa-shopping-bag"></i>
      <!-- <span class="badge badge-danger">{{allCartItems}}</span> -->
      <span class="badge badge-danger">{{cartCount}}</span>
    <!-- <span class="icon">
      <i class="fas fa-shopping-bag"></i>
      <span class="badge badge-danger">{{allCartItems}}</span>
    </span> -->
  </a>  Bag</button>
  <button type="button" class="btn btn-primary btn-ripple"><a>
    <i class="fas fa-user"></i>
    <!-- <span class="icon">
      <i class="fas fa-user"></i>
    </span> -->
  </a>  Account</button>
</div>