.ratings i {
    font-size: 16px;
    color: red;
  }
  
  .strike-text {
    color: red;
    text-decoration: line-through;
  }
  
  .product-image {
    width: 100%;
  }
  
  .dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }
  
  .spec-1 {
    color: #0b0b0b;
    font-size: 18px;
  }
  
  h5 {
    font-weight: 400;
  }
  
  .para {
    font-size: 16px;
  }
  .btn1 {
    background: rgb(94, 0, 0);
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    margin: 0 8px;
  }
  .content span {
    font-weight: 800px;
    font-size: 18px;
  }
  .cart-btn {
    border-radius: 4px;
    background: rgb(94, 0, 0);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    padding: 4px 16px;
    text-transform: uppercase;
    transition: 0.4s;
  }
  .cart-btn:hover {
    color: rgb(94, 0, 0);
    background: transparent;
    border: 1px solid rgb(94, 0, 0);
  }
  .content{
    margin-left: 103px;
  }
  
  
  