


<div class="container mt-5 mb-5">
  <div *ngIf="isLoading$ | async" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!(isLoading$ | async)" class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div *ngFor="let item of products">
        <div class="row p-2 bg-white border rounded mt-2">
          <div class="col-md-3 mt-1">
            <img
              class="img-fluid img-responsive rounded product-image"
              [src]="'./assets/' + item.imageName"
            />
          </div>
          <div class="col-md-6 mt-1">

            <div style="display: flex; justify-content: space-between;">
              <div><h1>{{ item.itemName }}</h1></div>
              <div >
                <div id="plusand" >
                  <button
                    type="button"
                    class="btn1"
                    (click)="decrementItemCount(item)"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                  <span style="font-size: large;">{{ item.itemCartCount }}</span>
                  <button
                    type="button"
                    class="btn1"
                    (click)="incrementItemCount(item)"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </div>

              </div>

            </div>

            
            <div class="d-flex flex-row" style="justify-content: space-between;">
              <div class="ratings mr-2">
                <i class="fa fa-star"></i><i class="fa fa-star"></i
                ><i class="fa fa-star"></i><i class="fa fa-star"></i>
                <span>310</span>
                <div><h2 class="text-success">Free shipping</h2></div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <h2 class="mr-1">{{ item.discountPrice | currency: "INR" }}</h2>
                <br />
                <h4 class="strike-text">
                  {{ item.actualPrice | currency: "INR" }}
                </h4>
              </div>


            </div>
            <div class="mt-1 mb-1 spec-1 text-muted">
              <span class="dot"></span><span>{{ item.itemDetail1 }} </span><span class="dot"></span
              ><span>{{ item.itemDetail2 }}</span
              ><span class="dot"></span>
              <span>{{ item.itemDetail3 }}</span>
              <span class="dot"></span><span>{{ item.itemDetail4 }}</span
                ><span class="dot"></span><span>{{ item.itemDetail5 }}</span
                ><span class="dot"></span
                ><span>{{ item.itemDetail6 }}<br /></span>
            </div>

            <p
              class="text-justify para mb-0 badge bg-primary text-wrap"
            >
              {{ item.description }}<br /><br />
            </p>
          </div>
          <div
            class="
              align-items-center align-content-center
              col-md-3
              border-left
              mt-1
            "
          >
            <!-- <div class="d-flex flex-column mt-4">
              <button class="btn btn-primary btn-sm" type="button">
                Details
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="row p-2 bg-white border rounded mt-2">
        <div>Clear bag</div>
        <div class="d-flex flex-column mt-4">
          <button
            class="btn btn-outline-primary btn-sm mt-2"
            type="button"
            (click)="navigateToCheckout()"
          >
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-success" role="alert" id="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success!</strong> You have been signed in successfully!
</div>
<app-footer ></app-footer>  

